<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weather Forecast</title>
  <link rel="stylesheet" href="./app.component.css">
</head>
<body>
  <h1 class="main-header">Forecast App</h1>

  <div class="main-div" *ngIf="forecastJSON">
    <h2 class="subtitle">Weather Forecast</h2>
    <p class="subtitleText">Latitude: {{ forecastJSON.latitude }}</p>
    <p class="subtitleText">Longitude: {{ forecastJSON.longitude }}</p>

    <h3>Current Weather</h3>
    <p class="subtitleText">Temperature: {{ forecastJSON.current_weather.temperature }}</p>
    <p class="subtitleText">Windspeed: {{ forecastJSON.current_weather.windspeed }}</p>
  </div>

</body>
</html>